<!-- <!doctype html> -->
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Archivage des Documents</title>
  <link rel="stylesheet" href="../libs/css/standardize.css">
  <link rel="stylesheet" href="../libs/css/archive-grid.css">
  <link rel="stylesheet" href="../libs/css/archive.css">
  <link rel="stylesheet" type="text/css" href="[CSS_LINK]" />

</head>
<body class="body page-archive clearfix">
<div class="body page-archive clearfix">
  <div class="element element-1"></div>
  <div class="element element-2"></div>
  <div class="element element-3"></div>
  <div class="element element-4"></div>
  
  <form class="js-list-form">
				<div class="row collapse">
					<div class="small-12 columns">
						<input name="keyword" type="text" placeholder="[TEXT:GEDFAMILLEDOCUMENTBASE:doc_headline]" value="[KEYWORD]">
					</div>
					<div class="small-2 columns">
			 
					</div>
				</div>
				<div class="row collapse">
					<div class="large-12 columns">
						 <label class="css-form-label">[TEXT:Etat des Documents]&nbsp;:
							<select class="css-form-select" name="type">
								<option value="ALL" [IF TYPE_ALL]selected[ENDIF TYPE_ALL]>[TEXT: Tous]</option>
								<option value="OPEN" [IF TYPE_OPEN]selected[ENDIF TYPE_OPEN]>[TEXT:En cours]</option>
								<option value="CLOSE" [IF TYPE_CLOSE]selected[ENDIF TYPE_CLOSE]>[TEXT:Archivé]</option>
							</select>
						</label>
					</div>
									
							
				</div>
				<input name="offset" type="hidden" value="[OFFSET]"/>
				<input type="submit" value="[TEXT:Chercher]" class="button postfix js-button-list-form">
	</form>
			<div class="pagination-centered">
				<ul class="pagination">
					<li class="arrow [IFNOT FIRST]unavailable[ENDIF FIRST] js-previous"><a href="#">&laquo;</a></li>
					<li class="current"><a href="">[OFFSET]</a></li>
					<li class="arrow [IFNOT LAST]unavailable[ENDIF LAST] js-next"><a href="#">&raquo;</a></li>
				</ul>
			 </div>
			
			<ul class="off-canvas-list js-docs-list">
			[BLOCK GEDFAMILLEDOCUMENTBASE_ARCHIVE]
			<li title="[STATE]">
				<a class="js-doc-link" href="[URL]" data-initid="[INITID]">[TITLE]
					<span class="right" style="background-color : [COLOR];">&nbsp;</span>
				</a>
				 <div class='question'> [QUESTION]</div>
			</li>
			[ENDBLOCK GEDFAMILLEDOCUMENTBASE_ARCHIVE]
			</ul>
</div>
</body>
</html>